<div class="border-b border-gray-200 flex items-center justify-between space-x-8 px-4 py-3">
  <div class="flex items-center">
    <div>
      <div class="font-medium"><%= account.name %></div>
      <% unless account.domain_name_regex.blank? %>
        <div class="text-gray-500 text-sm">/<%= account.domain_name_regex %>/</div>
      <% end %>
    </div>
  </div>

  <div class="flex-1"></div>

  <% if account == current_account %>
    <div class="flex items-center text-green-500">
      <%= heroicon("badge-check", style: :solid, class: "w-6 h-6 mr-1") %>
      <span class="text-sm font-medium"><%= Spina::Account.human_attribute_name(:current_account) %></span>
    </div>
  <% else %>
    <div>
      <%= link_to spina.select_admin_account_path(account), class: "btn btn-default px-3" do %>
        <%= heroicon('switch-horizontal', style: :solid, class: 'w-4 h-4') %> <%= t('spina.accounts.select') %>
      <% end %>
    </div>
  <% end %>


  <% if current_spina_user.admin? %>
    <div>
      <%= link_to spina.edit_admin_account_path(account), class: "btn btn-default px-3" do %>
        <%= heroicon('pencil', style: :solid, class: 'w-4 h-4') %>
      <% end %>
    </div>
  <% end %>
</div>
